<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/navbar') %>
  <h1>Messages</h1>
  <div class="message-container">
    <% for (let message of messages) { %> 
      <%- include('messages/singleMessage', {message: message}) %>
    <% } %>
  </div>
</body>
</html>